# Created by cfdev release automation
# yaml-language-server: $schema=https://aka.ms/winget-manifest.version.1.10.0.schema.json
PackageIdentifier: Deifos.cfdev
PackageVersion: @VERSION@
DefaultLocale: en-US
ManifestType: version
ManifestVersion: 1.10.0
