# Created by cfdev release automation
# yaml-language-server: $schema=https://aka.ms/winget-manifest.defaultLocale.1.10.0.schema.json
PackageIdentifier: Deifos.cfdev
PackageVersion: @VERSION@
PackageLocale: en-US
Publisher: Deifos
PackageName: cfdev
License: MIT
ShortDescription: Permanent URLs for local projects on your Cloudflare domain
PackageUrl: https://github.com/deifos/cfdev
ManifestType: defaultLocale
ManifestVersion: 1.10.0
